<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h2>Cadastro</h2>
<form method="post" action="/cadastro">
    <label>Usuário: <input type="text" name="username" required></label><br>
    <label>Senha: <input type="password" name="password" required></label><br>
<br>
    <button type="submit">Cadastrar</button>
</form>
<p th:if="${erro}" th:text="${erro}"></p>
<a href="/login">Voltar ao login</a>
</body>
</html>