<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>📚 Biblioteca Virtual - Livros Disponíveis</title>
    <link rel="stylesheet" href="/css/cliente.css">
</head>
<body>

    <header>
        <h2>Biblioteca UNP</h2>
        <p>Explore os livros disponíveis em nosso acervo</p>
    </header>

    <div class="search-bar">
        <form method="get" action="/livros">
            <input type="text" name="busca" placeholder="🔍 Pesquisar por titulos..." />
            <button type="submit">Pesquisar</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>Capa</th>
                <th>Título</th>
                <th>Autor(es)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
    <tr th:if="${#lists.isEmpty(livros)}">
        <td colspan="4">Nenhum livro encontrado para o termo pesquisado.</td>
    </tr>
    <tr th:each="livro : ${livros}">
        <td>
            <img th:if="${livro.capaUrl != null}" th:src="${livro.capaUrl}" alt="Capa" style="height:80px"/>
        </td>
        <td>
            <a th:href="@{'/livros/' + ${livro.editionKey}}" th:text="${livro.titulo}"></a>
        </td>
        <td th:text="${#lists.isEmpty(livro.autores) ? '-' : #strings.arrayJoin(livro.autores, ', ')}"></td>
        <td>
            <!-- ações -->
        </td>
    </tr>
</tbody>
    </table>

    <div class="footer">
        <a href="/login">⬅ Sair</a>
    </div>
    <div class="footer">
        <a href="/home" class="btn">⬅Voltar a Home</a>
    </div>
    
    <div th:if="${isAdmin}">
        <a href="/admin" class="btn-admin">🔒 Área Administrativa</a>
    </div>
</body>
</html>
